@import "tailwindcss";

@theme {
    --color-blue: #1E3D87;
    --color-green: #19AA4E;
    --color-orange: #F97316;
    --color-dark-gray: #64676D;
    --color-gray: #979DA5;
    --color-light-gray: #E5E7EB;
    --color-ice: #DDDDDD;
}